body{
    text-align: center;
    background-color: aqua;
    text-decoration: underline;
    color: chartreuse;
}
img{
    border:3px solid green;
    text-align: center;
    height: 400px;
    width: 400px;
}